*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $ff-main;
    font-size: $fs-regular;
    font-weight: $fw-400;
    line-height: 2.4rem;
    background-color: $clr-bg;
    color: $clr-white;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}