*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $ff-main;
    font-size: $fs-regular;
    font-weight: $fw-400;
    line-height: 2.4rem;
    background-color: $clr-bg;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.invoice-form-title {
    font-size: $fs-medium;
    font-weight: $fw-700;
    color: $clr-purple;
}