// * Font-families 
$ff-main: 'Roboto', sans-serif;

// * Font-sizes
$fs-regular: 1.6rem;
$fs-medium: 1.4rem;
$fs-small: 1.2rem;
$fs-tiny: 1rem;

// * Font-weights
$fw-300: 300; 
$fw-400: 400; 
$fw-500: 500; 
$fw-700: 700; 

// * Colors
$clr-bg: #141625;
$clr-bg-light: #1e2139;
$clr-bg-dark: #0c0e16;
$clr-text-light: #7e88c3;
$clr-text-gray:#5c8cd3;
$clr-purple: #7c5dfa;
$clr-purple-light: #9277ff;
$clr-green: #33d69f;
$clr-green-light: rgba(51,214,159,.0571);
$clr-orange: #ff8f00;
$clr-orange-light: rgba(255,143,0,.0571);
$clr-white: #fff;
$clr-white-light: rgba(223,227,250,.0571);
$clr-red: #ec5757;
$clr-red-light: #ff9797;
$clr-border: #252945;
$clr-btn-bg: #373b53;
$clr-btn-hover: #1e2139;